@using ChessClubManagement.ViewModels
@model ChessClubManagement.ViewModels.StudentEditViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Student.StudentFname + " " + Model.Student.StudentLname;
}

@{
    if (TempData["SaveSuccess"] != null && TempData["SaveSuccess"].ToString().Equals("Success"))
    {
        <div class="alert alert-success">
            Student was updated successfully.
        </div>
    }
    else if (TempData["SaveSuccess"] != null && TempData["SaveSuccess"].ToString().Equals("Fail"))
    {
        <div class="alert alert-danger">
            Student was not updated.
        </div>
    }
}

<div row>
    <div class="col-md-6">
        <h1>@Model.Student.StudentFname @Model.Student.StudentLname</h1>
        <form asp-controller="Students" asp-action="Update" asp-route-id="Student.StudentId">
            <input asp-for="Student.StudentId" type="hidden" />
            <div class="input-group">
                <label class="input-group-addon">First Name</label>
                <input asp-for="Student.StudentFname" type="text" class="form-control" id="studentFnameTxt" placeholder="First Name" required/>
            </div>
            <br/>
            <div class="input-group">
                <label  class="input-group-addon">Last Name</label>
                <input asp-for="Student.StudentLname" type="text" class="form-control" id="studentLnameTxt" placeholder="First Name" required/>
            </div>
            <br/>
            <div class="input-group">
                <label class="input-group-addon">Division</label>
                <select asp-for="Student.StudentDivision" type="text" class="form-control" style="width: 65px" id="studentDivisionTxt" placeholder="Division" required>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </div>
            <br/>
            <input type="submit" value="Save" id="saveStudent" class="btn btn-info"/>
        </form>
    </div>
    <div class="col-md-6">
        <h1>Match History</h1>
        <ul>
            @foreach (var match in Model.MatchHistory)
            {
                <li>
                    @DateTime.Parse(match.MatchDate.ToString()).ToString("MM/dd/yyyy") - @match.Student1.StudentFname @match.Student1.StudentLname vs. @match.Student2.StudentFname @match.Student2.StudentLname
                </li>
            }
        </ul>
    </div>
</div>