@model ChessClubManagement.Models.Matches
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Match";
}
<br />
@if (TempData["Result"] != null && TempData["Result"].Equals("Match Updated Successfully"))
{
    <div class="alert alert-success">Match updated successfully</div>
}
else if (TempData["Result"] != null && !TempData["Result"].Equals("Match Update Successfully"))
{
    <div class="alert alert-danger">@TempData["Result"]</div>
}
<div>
    <h1>Match: @Model.Student1.User.Nickname vs. @Model.Student2.User.Nickname</h1>
    <hr />
    <form asp-action="Save" method="post">
        <input type="hidden" asp-for="MatchId"/>
        <input type="hidden" asp-for="Student1Id" />
        <input type="hidden" asp-for="Student2Id" />
        <input type="hidden" asp-for="Season" />
        <input type="hidden" asp-for="SeasonId" />
        <input type="hidden" asp-for="MatchDate" />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label class="input-group-addon">Member: </label>
                    <input type="text" class="form-control" value="@Model.Student1.User.Nickname" readonly="readonly"/>
                </div>
                <br/>
                <div class="input-group">
                    <label class="input-group-addon">Member Color: </label>
                    <select asp-for="Student1Color" class="form-control" id="student1color">
                        <option value="B">B</option>
                        <option value="W">W</option>
                    </select>
                </div>
                <br/>
                <div class="input-group">
                    <label class="input-group-addon">Member Result: </label>
                    <select asp-for="Student1Result" class="form-control" id="student1result">
                        <option value="W">Win</option>
                        <option value="L">Loss</option>
                        <option value="D">Draw</option>
                        <option value="X">Forfeit</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label class="input-group-addon">Member: </label>
                    <input type="text" class="form-control" value="@Model.Student2.User.Nickname" readonly="readonly"/>
                </div>
                <br/>
                <div class="input-group">
                    <label class="input-group-addon">Member Color: </label>
                    <select asp-for="Student2Color" class="form-control" id="student2color">
                        <option value="B">B</option>
                        <option value="W">W</option>
                    </select>
                </div>
                <br/>
                <div class="input-group">
                    <label class="input-group-addon">Member Result: </label>
                    <select asp-for="Student2Result" class="form-control" id="student2result">
                        <option value="W">Win</option>
                        <option value="L">Loss</option>
                        <option value="D">Draw</option>
                        <option value="X">Forfeit</option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="input-group">
                    <label class="input-group-addon">Total Moves</label>
                    <input type="text" asp-for="TotalMoves" class="form-control"/>
                </div>
                <br/>
            </div>
        </div>
        <input type="submit" class="btn btn-info" value="Update Match"/>
    </form>
</div>