@model LockContext


<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
</div>
<script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('@Model.ClientId', '@Model.Domain', {
    container: 'root',
    auth: {
        redirectUrl: '@Model.CallbackUrl',
        responseType: 'code',
        params: {
        scope: 'openid username user_metadata email roles',
        state: '@Model.State' ,
        nonce: '@Model.Nonce'
        }
    },
    allowedConnections: ['ChessClubManagement'],
    theme: {
        primaryColor: "#31b0d5"
    },
    additionalSignUpFields: [
    {
        name: "phonenumber",
        placeholder: "Enter your Phone #",
        validator: function(phone) {
            return {
                valid: phone.length > 9,
                hint: "Must be 9 digit phone number"
            };
        }
    }]
  });

  lock.show();
</script>
